<div class="container mt-3">
    <h3>Status of request</h3>
    <ul class="nav nav-pills mt-3">
      <li class="nav-item" *ngFor="let tab of tabs; let i = index">
        <a class="nav-link"  [ngClass]="{'active': i === activeTab}" (click)="changeTab(i)">{{ tab }}</a>
      </li>
    </ul>
  
    <div *ngIf="dataLoaded" class="mb-3">
      <div *ngFor="let item of tabData">
        
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  