<div class="container p-3 m-3">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          class="form-control mb-3"
          id="leaveYearLeaveDetails"
          [(ngModel)]="leaveYear"
          name="leaveYear"
          aria-describedby="leaveYearHelp"
          placeholder="Enter the year for which leave details you want"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <div *ngIf="showDetails" class="mt-3">
      <div class="card mb-4">
        <div class="card-header">Leave Details for year {{leaveYear}}</div>
        <div class="card-body">
            <form>
                
                <div class="mb-3">
                    <label class="small mb-1" for="remainingSickLeaves">Remaining Sick Leaves</label>
                    <input class="form-control" id="remainingSickLeaves" type="text" value="{{leaveDetails.remainingSickLeaves}}">
                </div>

                <div class="mb-3">
                    <label class="small mb-1" for="remainingCasualLeaves">Remaining Casual Leaves</label>
                    <input class="form-control" id="remainingCasualLeaves" type="text" value="{{leaveDetails.remainingCasualLeaves}}">
                </div>

                <div class="mb-3">
                    <label class="small mb-1" for="remainingEarnedLeaves">Remaining Earned Leaves</label>
                    <input class="form-control" id="remainingEarnedLeaves" type="text" value="{{leaveDetails.remainingEarnedLeaves}}">
                </div>

                <div class="mb-3">
                    <label class="small mb-1" for="paidLeaves">Paid Leaves taken for the last working month / current month</label>
                    <input class="form-control" id="paidLeaves" type="text" value="{{leaveDetails.paidLeaves}}">
                </div>

                <div class="mb-3">
                    <label class="small mb-1" for="totalPaidLeaves">Total Paid Leaves taken</label>
                    <input class="form-control" id="totalPaidLeaves" type="text" value="{{leaveDetails.totalPaidLeaves}}">
                </div>
            </form>
        </div>
    </div>
    </div>
  </div>
  
<!-- 
  <div class="card mb-4">
    <div class="card-header">Account Details</div>
    <div class="card-body">
        <form>
            
            <div class="mb-3">
                <label class="small mb-1" for="inputUsername">Username (how your name will appear to other users on the site)</label>
                <input class="form-control" id="inputUsername" type="text" placeholder="Enter your username" value="username">
            </div>
            
            <div class="row gx-3 mb-3">
                
                <div class="col-md-6">
                    <label class="small mb-1" for="inputFirstName">First name</label>
                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" value="Valerie">
                </div>
                
                <div class="col-md-6">
                    <label class="small mb-1" for="inputLastName">Last name</label>
                    <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" value="Luna">
                </div>
            </div>
            
            <div class="row gx-3 mb-3">
                
                <div class="col-md-6">
                    <label class="small mb-1" for="inputOrgName">Organization name</label>
                    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your organization name" value="Start Bootstrap">
                </div>
                
                <div class="col-md-6">
                    <label class="small mb-1" for="inputLocation">Location</label>
                    <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" value="San Francisco, CA">
                </div>
            </div>
            
            <div class="mb-3">
                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
            </div>
            
            <div class="row gx-3 mb-3">
                
                <div class="col-md-6">
                    <label class="small mb-1" for="inputPhone">Phone number</label>
                    <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" value="555-123-4567">
                </div>
                
                <div class="col-md-6">
                    <label class="small mb-1" for="inputBirthday">Birthday</label>
                    <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birthday" value="06/10/1988">
                </div>
            </div>
            
            <button class="btn btn-primary" type="button">Save changes</button>
        </form>
    </div>
</div> -->